<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="static/css/main.css">
    <title>Python</title>
</head>
<body>
    <nav>
        <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/">Iniciar secion</a>
        </li>
        <li>
            <a href="/">Salir</a>
        </li>
        
        <li>
            <a href="/tareas">tareas</a>
        </li>
        <li>
            <a href="/proyectos">proyectos</a>
        </li>
        <li>
            <a href="/documentacion">Documentacion</a>
        </li>
        <li>
            <a href="/">Herramientas</a>
        </li>   <li>
            <a href="/">Lluvia de ideas</a>
        </li>
        </ul>
        
        
        
        </nav>
    {% block content %}
    {% endblock %}
    
</body>
</html>